<!-- 加载头部模板文件-->
{% include "tpl/head.html" %}

<body>

<!-- 加载导航模板文件-->
{% include "tpl/nav.html" %}
<img height="398px" src="{{ static_url("img/jifang_ban.jpg")}}"/>
<!-- 产品内容-->
<div class="content visit-cont" style="">
    <div class="dleft">
        <h3>广东东莞机房</h3>
        <p>东莞市枫华园IDC机房位于东莞市温南路，中国电信枫华园枢纽中心，交通便利，距离东莞市市火车站约40公里，飞机场150公里。周边无任何产生腐蚀性气体、粉尘、噪音、强震动的厂矿企业，无超高压变电站、电气化铁道、大功率雷达站等强电磁干扰源。交通便利，附近区域治安良好。</p>
        <table>
            <tr>
                <td><strong>机房概况</strong></td>
            </tr>
            <tr>
                <td>机房名称：</td><td>东莞市枫华园IDC机房</td>
            </tr>
            <tr>
                <td>机房级别：</td><td>四星级</td>
            </tr>
            <tr>
                <td>机房带宽：</td><td>1500G（截止于2015年）</td>
            </tr>
            <tr>
                <td>总机柜数：</td><td>1100个</td>
            </tr>
            <tr>
                <td>机房面积：</td><td>4694㎡</td>
            </tr>
            <tr>
                <td>防火墙设备：</td><td>300G硬件防火墙集群</td>
            </tr>
            <tr>
                <td>电力设施：</td><td>双路市电 + 双路N+1UPS + 柴油发电机</td>
            </tr>
            <tr>
                <td>服务支持：</td><td>7X24X365全年无休服务支持、真正的全天驻场工程师、实时详细的网络监控</td>
            </tr>
            <tr>
                <td>机房地址：</td><td>广东省东莞市东城区莞福路东城停车场旁中国电信IDC机楼</td>
            </tr>
        </table>
    </div>
    <div class="dright">
        <img class="imgrv" src="{{static_url("img/jf_dg.jpg")}}"/>

    </div>
    <hr />
<div class="dleft">
        <h3>福建厦门机房</h3>
        <p>厦门软件园三线数据中心位于厦门岛东部，厦门国际会展中心旁。它具有优越的景观条件，依山望海，环境宜人；具有便捷的交通条件，附近区域无腐蚀性气体和粉尘产生源，无强电磁干扰源。</p>
        <p>机房概况
厦门软件园数据中心自主网络设备投资超过800万元，拥有所有核心接入层设备管理权限。建筑结构根据电信通信枢纽机楼标准进行设计建设，机房层高≥3.2m。普通区域的承重能力为600kg/㎡，电源区域的承重能力为1000kg/㎡，达到乙级抗震标准，能抵御强烈风暴、雷击。</p>
        <table>
            <tr>
                <td><strong>机房概况</strong></td>
            </tr>
            <tr>
                <td>数据中心名称：</td><td>厦门软件园三线数据中心</td>
            </tr>
            <tr>
                <td>机房级别：</td><td>五星级</td>
            </tr>
            <tr>
                <td>机房带宽：</td><td>380G直连CHINANET骨干网 100G直连新联通</td>
            </tr>
            <tr>
                <td>总机柜数：</td><td>800个</td>
            </tr>
            <tr>
                <td>机房面积：</td><td>8600平方米</td>
            </tr>
            <tr>
                <td>防火墙设备：</td><td>200G硬件防火墙集群</td>
            </tr>
            <tr>
                <td>电力设施：</td><td>双路市电 + 双路N+1UPS + 柴油发电机</td>
            </tr>
            <tr>
                <td>服务支持：</td><td>7X24X365全年无休服务支持、真正的全天驻场工程师、实时详细的网络监控</td>
            </tr>
            <tr>
                <td>机房地址：</td><td>福建省厦门市软件园二期望海路53号</td>
            </tr>
        </table>
    </div>
    <div class="dright">
        <img class="imgrv" src="{{static_url("img/jf_xm.jpg")}}"/>
    </div>
</div>
<!-- 加载底部模板文件-->
{% include "tpl/footer.html" %}


</body>
</html>
