<!-- 加载底部模板文件-->
<include file="tpl:head"/>
<body>

<!-- 加载导航模板文件-->
<include file="tpl:nav"/>
<!-- 图片轮播-->
<div class="slider">
    <ul>
        <li><a href="/products/lilian/"><img src="__IMG__/main1.png"/></a></li>
        <li><a href="products/server/"><img src="__IMG__/main2.png"/></a></li>
        <li><a href="products/gaofang/"><img src="__IMG__/main3.png"/></a></li>
    </ul>
</div>
<!-- 通知模块-->
<div class="nbar">
<div class="content notice reveal">
    <div class="left">
        <span class="red">新闻公告:</span>2016年国庆放假通知
    </div>
    <div class="right">
        <spanp>2016.11.9</spanp>
    </div>
</div>
</div>
<!-- 利联产品介绍模块-->
<div class="content products">
    <div class="title">
        热销产品
    </div>
    <p class="desc">我们基于用户的需求主导产品研发，提供丰富、安全、易用、灵活的产品</p>
    <ul class="hpul">
        <li class="hp1"><a href="javascript:;"></a></li>
        <li class="hp2"><a href="javascript:;"></a></li>
        <li class="hp3"><a href="javascript:;"></a></li>
        <li class="hp4"><a href="javascript:;"></a></li>
        <li class="hp5"><a href="javascript:;"></a></li>
    </ul>
    <!--<div class="title">
        利联产品
    </div>
    <p class="desc">存储、计算、监控、安全...你所需要的一切云产品</p>
    <ul class="pul">
        <li class="p1"><a class="left" href="products/lilian/"></a><a class="right" href="javascript:;"></a></li>
        <li class="p2"><a class="left" href="products/lilian/"></a><a class="right" href="javascript:;"></a></li>
        <li class="p3"><a class="left" href="products/server/"></a><a class="right" href="javascript:;"></a></li>
        <li class="p4"><a class="left" href="products/gaofang/"></a><a class="right" href="javascript:;"></a></li>
    </ul>-->
</div>
<!--价格 -->
<!--
<div id="pricelist">
    <div class="content">
    <ul class="sul reveal">
        <li class="bk">网络资源</li
        ><li class="or">云计算</li
        ><li class="bl">网络安全</li
        ><li class="re">售后支撑</li>
    </ul>
        <div class="title">
            热门机型
        </div>
        <ul class="ptabs">
            <li class=""><p>数据中心:</p></li
            >
            <li class="loca active"><p>福建厦门</p>
                <div class="tabs">
                    <p class="idc-desc">机房:福建厦门数据中心 星级:五星级 <a href="http://www.llidc.com/products/visit/">参观机房></a></p>
                    <ul>
                        <li><span>线路选择:</span></li
                        >
                        <li class="lines active">
                            <span>双线</span>
                            <table>
                                <tbody>
                                <tr class="tbtitle">
                                    <td>线路</td>
                                    <td>CPU</td>
                                    <td>内存</td>
                                    <td>硬盘</td>
                                    <td>带宽</td>
                                    <td>IP</td>
                                    <td>月付</td>
                                    <td>备注</td>
                                </tr>
                                <tr>
                                    <td>厦门双线</td>
                                    <td>I5</td>
                                    <td>8G</td>
                                    <td>500G</td>
                                    <td>G口50M带宽</td>
                                    <td>2</td>
                                    <td>1100</td>
                                    <td>电信380G集群,联通100G集群,双线双IP</td>
                                </tr>
                                <tr>
                                    <td>厦门双线</td>
                                    <td>I7</td>
                                    <td>8G</td>
                                    <td>500G</td>
                                    <td>G口50M带宽</td>
                                    <td>2</td>
                                    <td>1300</td>
                                    <td>电信380G集群,联通100G集群,双线双IP</td>
                                </tr>
                                <tr>
                                    <td>厦门双线</td>
                                    <td style="margin-left: 5px">E5620*2</td>
                                    <td>16G</td>
                                    <td>1T</td>
                                    <td>G口50M带宽</td>
                                    <td>2</td>
                                    <td>1500</td>
                                    <td>电信380G集群,联通100G集群,双线双IP</td>
                                </tr>

                                </tbody>
                            </table>
                        </li
                        >
                        <li class="lines">
                            <span>高防</span>
                            <table>
                                <tbody>
                                <tr class="tbtitle">
                                    <td>线路</td>
                                    <td>CPU</td>
                                    <td>内存</td>
                                    <td>硬盘</td>
                                    <td>带宽</td>
                                    <td>IP</td>
                                    <td>月付</td>
                                    <td>备注</td>
                                </tr>
                                <tr>
                                    <td>厦门高防</td>
                                    <td>I5</td>
                                    <td>8G</td>
                                    <td>500G</td>
                                    <td>G口100M带宽</td>
                                    <td>2</td>
                                    <td>2000</td>
                                    <td>高防产品，单机防护200G</td>
                                </tr>

                                </tbody>
                            </table>
                        </li
                        >
                        <li class="lines">
                            <span>电信</span>
                            <table>
                                <tbody>
                                <tr class="tbtitle">
                                    <td>线路</td>
                                    <td>CPU</td>
                                    <td>内存</td>
                                    <td>硬盘</td>
                                    <td>带宽</td>
                                    <td>IP</td>
                                    <td>月付</td>
                                    <td>备注</td>
                                </tr>
                                <tr>
                                    <td>厦门电信</td>
                                    <td>I5</td>
                                    <td>8G</td>
                                    <td>500G</td>
                                    <td>G口50M带宽</td>
                                    <td>1</td>
                                    <td>799</td>
                                    <td>集群防护380G，单机防护100G</td>

                                </tr>
                                <tr>
                                    <td>厦门电信</td>
                                    <td>I7</td>
                                    <td>8G</td>
                                    <td>500G</td>
                                    <td>G口50M带宽</td>
                                    <td>1</td>
                                    <td>899</td>
                                    <td>集群防护380G，单机防护100G</td>
                                </tr>

                                </tbody>
                            </table>
                        </li
                        >
                    </ul>
                </div>
            </li
            >
            <li class="loca"><p>广东东莞</p>
                <div class="tabs">
                    <p class="idc-desc">机房:东莞东城数据中心 星级:五星级 <a href="http://llidc.com/products/visit/">参观机房></a></p>
                    <ul>
                        <li>线路选择
                        </li
                        >
                        <li class="lines">
                            <span>双线</span>
                            <table>
                                <tbody>
                                <tr class="tbtitle">
                                    <td>线路</td>
                                    <td>CPU</td>
                                    <td>内存</td>
                                    <td>硬盘</td>
                                    <td>带宽</td>
                                    <td>IP</td>
                                    <td>月付</td>
                                    <td>备注</td>
                                </tr>
                                <tr>
                                    <td>东莞双线</td>
                                    <td>I5</td>
                                    <td>8G</td>
                                    <td>500G</td>
                                    <td>G口50M</td>
                                    <td>2</td>
                                    <td>1100</td>
                                    <td>电信500G集群，联通240G集群，双线双IP</td>
                                </tr>
                                <tr>
                                    <td>东莞双线</td>
                                    <td>I7</td>
                                    <td>8G</td>
                                    <td>500G</td>
                                    <td>G口50M</td>
                                    <td>2</td>
                                    <td>1300</td>
                                    <td>电信500G集群，联通240G集群，双线双IP</td>
                                </tr>
                                <tr>
                                    <td>东莞双线</td>
                                    <td style="margin-left: 5px">E5620*2</td>
                                    <td style="margin-left: 14px">16G</td>
                                    <td>1T</td>
                                    <td>G口50M</td>
                                    <td>2</td>
                                    <td>1500</td>
                                    <td>电信500G集群，联通240G集群，双线双IP</td>
                                </tr>

                                </tbody>
                            </table>
                        </li
                        >
                        <li class="lines">
                            <span>电信</span>
                            <table>
                                <tbody>
                                <tr class="tbtitle">
                                    <td>线路</td>
                                    <td>CPU</td>
                                    <td>内存</td>
                                    <td>硬盘</td>
                                    <td>带宽</td>
                                    <td>IP</td>
                                    <td>月付</td>
                                    <td>备注</td>
                                </tr>
                                <tr>
                                    <td>东莞电信</td>
                                    <td>I5</td>
                                    <td>8G</td>
                                    <td>500G</td>
                                    <td>G口50M带宽</td>
                                    <td>1</td>
                                    <td>799</td>
                                    <td>集群防护500G集群，单机防护100G</td>
                                </tr>
                                <tr>
                                    <td>东莞电信</td>
                                    <td>I5</td>
                                    <td>8G</td>
                                    <td>500G</td>
                                    <td>G口50M带宽</td>
                                    <td>1</td>
                                    <td>899</td>
                                    <td>集群防护500G，单机防护100G</td>
                                </tr>

                                </tbody>
                            </table>
                        </li
                        >
                        <li class="lines">
                            <span>高防</span>
                            <table>
                                <tbody>
                                <tr class="tbtitle gftt">
                                    <td>线路</td>
                                    <td>CPU</td>
                                    <td>内存</td>
                                    <td>硬盘</td>
                                    <td>带宽</td>
                                    <td>IP</td>
                                    <td>月付</td>
                                    <td>备注</td>
                                </tr>
                                <tr>
                                    <td>东莞高防单线</td>
                                    <td>I5</td>
                                    <td>8G</td>
                                    <td>500G</td>
                                    <td>G口100M带宽</td>
                                    <td>1</td>
                                    <td>2000</td>
                                    <td>高防产品，单机防护200G</td>
                                </tr>
                                </tbody>
                            </table>
                        </li
                        >
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</div>-->
<!--服务 -->
<div id="service" class="imgrv">

</div>
<!-- 产品优势-->
<div id="advantage" class="imgrv">

</div>
<!-- 新闻资讯 -->
<div class="content news">
    <div class="title">
        新闻资讯
    </div>
    <ul class="pul">
        <li class="reveal"><a href="javascript:;">
            <div class="left">
                <img src="__IMG__/news3.png"/>
            </div>
            <div class="right">
                <p class="ptitle">优化机架配电-为您的数据中心环境选择最适合的机架配电装置的最佳方案</p>
                <p class="desc">随着数据信息日益成为许多企业组织背后最为强大的驱动力，数据中心现在业已成为了企业 业务成功运营的基础。在这种环境下，峰值期....
                </p>
                <span class="date">2016-12-09</span>
            </div></a>
        </li>
        <li class="reveal"><a href="javascript:;">
            <div class="left">
                <img src="__IMG__/news1.png"/>
            </div>
            <div class="right">
                <p class="ptitle">2015年中国IDC市场规模达518.6亿元
                </p>
                <p class="desc">据该报告数据显示，2015年中国IDC市场延续了高速增长态势，市场总规模达到518.6亿元 人民币，同比增长39.3....
                </p>
                <span class="date">2016-12-09</span>
            </div></a>
        </li>
        <li class="reveal"><a href="javascript:;">
            <div class="left">
                <img src="__IMG__/news2.png"/>
            </div>
            <div class="right">
                <p class="ptitle">中国数据中心联盟华南区工作委员会正式成立</p>
                <p class="desc">文章摘自腾讯大粤网，原文标题：中国数据中心联盟华南区工作委员会主席团名单出炉7月 17日，中国数据中心产业发展联盟华南区工....
                </p>
                <span class="date">2016-12-09</span>
            </div></a>
        </li>
    </ul>
</div>
<!-- 加载底部模板文件-->
<include file="tpl:footer"/>
<script type="text/javascript" src="__JS__/unslider-min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".slider").unslider({autoplay: true, delay: 8000});
    //首页价格标签部分
    $.indexPriceTabs();
});

</script>
</body>
</html>