<div id="footer">
    <div class="content">
        <ul class="ficon">
            <li class="comp"><i></i><p>100倍故障赔偿</p></li>
            <li class="sup"><i></i><p>7*24*365天技术支持</p></li>
            <li class="free"><i></i><p>1天免费试用</p></li>
            <li class="ba"><i></i><p>0元免费备案</p></li>
        </ul>
        <hr />
        <div class="about-lilian">
            <h3>产品服务</h3>
            <i></i>
        <ul>
            <li><a href="/rent/">服务器租用</a></li>
            <li><a href="/host/">服务器托管</a></li>
            <li><a href="/contact/">企业资质</a></li>
            <li><a href="/visit/">参观机房</a></li>
        </ul>
            <div class="rline"></div>
        </div>
        <div class="our-products">
            <h3>客户服务</h3>
            <i></i>
            <ul>
                <li><a href="http://www.llidc.com:83/">注册与登陆</a></li>
                <li><a href="/service-contract/">服务协议</a></li>
                <li><a href="/contact/">支付方式</a></li>
                <li><a href="/contact/">备案中心</a></li>
                <li><a href="/as-service/">7*24*365售后服务标准</a></li>
            </ul>
            <div class="rline"></div>
        </div>
        <div class="our-service">
            <h3>关于我们</h3>
            <i></i>
            <ul>
                <li><a href="/contact/">公司简介</a></li>
                <li><a href="/contact/">企业资质</a></li>
                <li><a href="/contact/">员工风采</a></li>
                <li><a href="/contact/">联系我们</a></li>

            </ul>
            <div class="rline"></div>
        </div>
        <div class="about-us">
            <img src="{{static_url("img/footer_ewm.png")}}"/>
            <p style="color:#d2d2d2;">关注我们</p>
            <div class="rline"></div>
        </div>
        <div class="contact-us">
            <div class="phone">
            <p><i></i>+400-161-0880(总机)</p></div>
            <p>ISP许可证:粤B2-20051022</p>
            <p>备案号:粤ICP备17011138号-1</p>
            <p>
		 		<a target="_blank" href="javascript:;" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;cursor: default;"><img src="{{static_url("img/icons/police.png")}}" style="float:left;width:initial;"/>粤公网安备 44190002001625号</a>
		 	</p>
            <p>Copyright©2016  广东利联科技有限公司版权所有</p>


        </div>

    </div>
</div>

<!-- body 最后 -->
<script type="text/javascript" src="{{static_url("js/jquery-1.9.1.min.js")}}"></script>
<script type="text/javascript" src="{{static_url("js/frontend.js")}}"></script>
