{% extends "admin_panel.html" %}

{% block content%}

<style>
    a{
        color:#00B1FB;
    }
    .content.panel{
        border:1px solid #ccc;
    }
</style>

<h3 class="ntitle">添加订单</h3>
<form id="add_orders" class="mform" action="/admin/orders/" method="post">
{% raw xsrf_form_html() %}

<div class="data">
    <div class="frow"><label>付款方式:</label>
        <select id="pmsource" name="pmsource">
            <option value="b,建设银行">建设银行</option>
            <option value="c,支付宝" selected="">支付宝</option>
            <option value="e,微信支付">微信支付</option>
        </select></div>
    <div class="frow">
        <label>产品类型:</label>
        <select id="ptype" name="ptype">
            <option value="r,普通机托管" selected="">普通机托管</option>
            <option value="s,普通机租用">普通机租用</option>
            <option value="t,高防机托管">高防机托管</option>
            <option value="u,高防机租用">高防机租用</option>
            <option value="v,代理机托管">代理机托管</option>
            <option value="w,代理机租用">代理机租用</option>
            <option value="x,机柜出租">机柜出租</option>
        </select></div>
    <div class="frow ips">
        <label>IP地址:</label>
        <input type="text" id="ips" name="ips" maxlength="50" pattern="[0-9.]*">
        <div class="tips"><span></span></div>
    </div>
    <input type="hidden" name="sales" id="sales" value="{{str(eid)+','+current_user}}">
    <div class="frow">
        <label>业务员:</label>
        <input type="text" readonly="readonly" value="{{uname}}">
    </div>
    <div class="frow"> <label>客户账号:</label>
    <input type="text" id="cacc" name="cacc" maxlength="10" placeholder="请输入5位客户账户" pattern="[a-zA-Z0-9]{5}">
    </div>
    <div class="frow">
        <label>订单金额:</label>
        <input type="text" id="pm" name="pm" maxlength="10" pattern="\d{1,10}">
    </div>
    <div class="frow"><label>出机时间:</label><input type="text" name="sdt"></div>
    <div class="frow"><label>服务时间:</label>
        <select name="msl" id="msl">
            <option value="1">月份</option>
            <option value="3">季度</option>
            <option value="6">半年</option>
            <option value="12">一年</option>
        </select>
    </div>
    <div class="frow">
        <label>备注:</label>
        <input type="text" name="memo" id="memo">
    </div>
</div>
<div class="frow" style="text-align: center;">
<input type="submit" class="o_addbtn sbtn" value="新增" disabled="disabled" style="background-color: #ccc;color:#fff;">
<div class="tips"><span></span></div>
</div>
</form>

{% end %}