{% extends "admin_panel.html" %}

{% block content%}
<style>
    a{
        color:#00B1FB;
    }
    .content.panel{
        border:1px solid #ccc;
    }
</style>

<h3 class="ntitle">添加机器</h3>

<form id="add_machines" class="mform" action="/admin/machines/" METHOD="post">
{% raw xsrf_form_html() %}
<div class="data">
    <div class="frow"><label>机器类型:</label>
    <select id="mtype" name="mtype"><option value="0" selected="">普通机器</option><option value="1">刀片机</option></select>
    </div>
    <div class="frow">
    <label>所属机房:</label>
    <select id="loca" name="loca">
        <option value="1,厦门哈曼尼" selected="">厦门哈曼尼</option>
        <option value="2,东莞枫华园">东莞枫华园</option>
        <option value="3,浙江绍兴">浙江绍兴</option>
        <option value="5,香港机房">香港机房</option>
        <option value="4,浙江杭州">浙江杭州</option>
        <option value="6,美国机房">美国机房</option>
    </select>
</div>
    <div class="frow"> <label>机柜编号:</label><input type="text" id="c_num" name="c_num" maxlength="10"></div>
    <div class="frow asnum"> <label>利联编号:</label><input type="text" id="m_num" name="m_num" maxlength="10"><div class="tips"><span></span></div></div>
    <div class="frow"> <label>其它编号:</label><input type="text" id="wy_m_num" name="wy_m_num" maxlength="10"></div>
    <div class="frow ips"> <label>IP地址:</label><input type="text" id="ips" name="ips" maxlength="50" pattern="[0-9.]*"><div class="tips"><span></span></div></div>
    <div class="frow"><label>机器配置:</label><input type="text" id="config" name="config" maxlength="20" pattern="[A-Za-z0-9]{5,20}"></div>
    <div class="frow"> <label>带宽:</label><input type="text" id="bw" name="bw" maxlength="5" pattern="[0-9A-Z]{2,8}"></div>
    <div class="frow"><label>机器状态:</label>
        <select id="status" name="status">
            <option value="a,空闲" selected="">空闲</option>
            <option value="b,租用">租用</option>
            <option value="c,托管">托管</option>
            <option value="d,试用">试用</option></select>
    </div>
    <div class="frow"><label>备注:</label>
    <input type="text" name="memo" id="memo"></div>
</div>
<div class="frow" style="text-align: center;">
<input type="submit" class="m_addbtn sbtn" value="添加" hold="init" disabled="disabled" style="background-color: #ccc;color:#fff;margin-left: 45px;">
<div class="tips"><span></span></div>
</div>
</form>


{% end %}
