body{ background:url(../img/login_bg.jpg) no-repeat;background-attachment: fixed;}
.banner{ width:100%; height:388px; overflow:hidden;}
.slider{ position:relative; z-index:1;}
.slider li{ width:100%; height:388px;}
.slider .li1{ background:url(../img/banner.jpg) no-repeat center top;}
.slider .li2{ background:url(../img/banner.jpg) no-repeat center top;}
.slider .li3{ background:url(../img/banner.jpg) no-repeat center top;}
.num{position: absolute;right:50%;text-align: center;bottom: 15px;}
.num li {background-image: url(../img/pagination.png); background-repeat:no-repeat;cursor: pointer;float: left; height: 19px;margin: 0 0 0 4px;overflow: hidden;position: relative;width: 19px;z-index: 99; text-indent:-9999em;}
.num li.on { background-position: 0 -19px;}
.ui-box{font-family:Microsoft YaHei,SimHei,SimSun; margin:0 auto; width:100%; font-size:16px; color:#fff;}
.ui-box em{ font-size:12px; display:block;}
.ui-box img{/* height:35px;*/}
.login .topimg img{width: 250px;
    margin-bottom: 30px;}
.ui-box .text1{height:43px; line-height:normal; line-height:43px \9; *line-height:43px; padding:0 10px 0 125px;  margin-bottom:0; border:1px solid #fff; width:185px;font-family:SimSun; background:none; color:#fff;}
.ui-box .text2{ padding:0 10px 0 100px; width:210px;}
.ui-box .text3{ width:94px;}
.ui-box .code{ display:inline-block; width:85px; height:44px; vertical-align:middle;}
.ui-box .code img{ width:85px; height:44px;}
.ui-box .submit{text-align:center; height:48px; line-height:48px; border:0 none; background:#fb7c79; color:#fff; font-size:16px;cursor:pointer; text-align:center; width:100%; margin:0 0 20px;
    vertical-align: top;}
.ui-box .login-submit{ width:150px; margin-right:10px; display:inline-block;}
.ui-box .register-btn{ width:150px; background:none; border:1px solid #fb7c79; display:inline-block;padding:0; vertical-align:middle; text-decoration:none; height:46px; line-height:46px;}
.ui-box .register-btn:hover{ color:#fff;}
.ui-box a{color:#fff; text-decoration:underline; font-size:14px;}
.ui-box a:hover{ text-decoration:underline; color:#f60;}
.ui-box .label{ display:block; position:absolute; left:14px; top:14px; padding-left:24px; background-image:url(../img/pwd_sprite.png); background-repeat:no-repeat;}
.ui-box .label1{ background-position:0 3px;}
.ui-box .label2{ background-position:0 -29px;}
.ui-box .label3{ background-position:0 -63px;}
.ui-box .label4{ background-position:0 -97px;}
.ui-box .label5{ background-position:0 -135px;}
.ui-box .label6{ background-position:0 -185px;}
.register{ width:322px; padding:52px 237px 50px; background:url(../img/box_bg.png) no-repeat right bottom; position:absolute; left:50%; top:50%; margin:-330px 0 0 -399px;}
.login{ margin:-233px 0 0 -398px;}
.register h1{ text-align:center; text-indent:-9999em; height:104px; background:url(../img/lglogo.png) no-repeat 54px 14px;}
.register .login_txt{ padding-bottom:20px; position:relative;}
.register .p1{ padding:0px 0 20px 0px; color:#fff; font-size:14px; line-height:25px;}
.register .p1 span{ color:#3686be;}
.register .p1 span a{ color:#3686be; margin-left:15px;}
.register .tip{background:url(../img/register_tip.png) no-repeat 0px 1px; padding:0 0 29px 24px; color:#999;}
.register-success{ width:392px; margin:0 auto; padding:145px 237px 175px; background:url(../img/box_bg.png) no-repeat right bottom; text-align:center;}
.register-success strong{ font-size:42px; font-weight:normal; color:#000;}
.register-success p{padding-left:24px; line-height:25px; background:url(../img/register_tip.png) no-repeat 64px 6px; margin-top:17px;}
.register-success span{ color:#3686be; font-family:Tahoma, Geneva, sans-serif; font-weight:bold;}
.hint{ display:none; position:absolute; left:342px; top:9px; padding: 1px 0 2px 0px; width:186px; height:23px; line-height:23px;}
.hint b{font-weight:normal;padding:2px 0px 2px 18px;background:url(../img/pwd_sprite.png) no-repeat -188px -121px; font-size:12px;}
.hint b.onError{ background:url(../img/pwd_sprite.png) no-repeat -188px -121px; color:#f00;}
.hint b.onCorrect{ background:url(../img/pwd_sprite.png) no-repeat -188px -152px;}
/* 密码强度 */
.pwd_info{position: absolute; top:-5px; left:342px; overflow:hidden; font-size:12px;}

.pwd_tips{ width: 200px; height: 51px; padding-top: 6px;display:none;}
.pwd_tips span{ height: 22px; line-height: 22px; padding-left: 18px; display:block;background: url(../img/pwd_sprite.png) no-repeat -188px -120px;}
.pwd_tips .correct{background: url(../img/pwd_sprite.png) no-repeat -188px -152px;}
.pwd_tips .wrong{background: url(../img/pwd_sprite.png) no-repeat -188pxpx -120px; color:#F00;}
.pwd_info .strength{ display:none; line-height:15px; padding-top:10px; height:48px;}
.pwd_info .strength span{ display:none;background-image:url(../img/pwd_sprite.png); background-repeat:no-repeat;}
.pwd_info .strength span.span1{ background-position:-135px 8px;}
.pwd_info .strength span.span2{ background-position:-135px -33px;}
.pwd_info .strength span.span3{ background-position:-135px -81px;}
.pwd_info .strength span.show { display: block; width:183px;}
.pwd_info .strength b,.pwd_info .strength i{ font-weight:normal; font-style:normal; display:block;}
.pwd_info .strength b{padding-left:70px; padding-top:4px;}
.reg_success{width:490px; padding:98px 0 100px 0; margin:0 auto;}
.reg_success strong{display:block; color:#090; padding-bottom:10px; font-size:28px; font-family:"微软雅黑","黑体","宋体";}
.reg_success .oktip{ color:#45657e; background:url(../img/oktip.gif) no-repeat 63px 65px; padding:66px 0 30px 130px;}

.success{ width:888px; margin:0 auto; padding:230px 0 840px 312px; color:#2d2d2d; line-height:27px; font-size:14px;}
.success a{ color:#2d2d2d; text-decoration:underline;}
.success-con{ background:url(../img/success.png) no-repeat 4px 11px; padding:0 0 35px 64px; border-bottom:1px solid #d4d4d4; width:405px; font-size:16px; margin-bottom:38px;}
.success-con span{ color:#fb645d;}
.success p{ padding:35px 0 63px;}
.success .btn{ display:inline-block; width:81px; height:27px; text-align:center; line-height:26px; background:#fff; border:1px solid #fb645d; color:#fb645d; text-decoration:none;}
.success .home{ margin-left:186px;}
.success .manage{ background:#fb645d; color:#fff; margin:0 20px 0 142px;}










































