#modal-background {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2;
    opacity: 0.5;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    top: 0;
}

#modal-content {
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;
    display: none;
    min-height: 240px;
    padding: 10px;
    position: absolute;
    /*left: 40%;
    margin: -120px 0 0 -160px;
    top: 50%;*/
    top:50%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: 620px;
    z-index: 3;
    transition: all 0.5s ease-out;
}
#modal-content.active{
    max-height:668px;
    transition: all 0.5s ease-in;
}


#modal-background.active, #modal-content.active {
    display: block;
}
#modal-close{
    float:right;
}